/* 主体布局 start */
.wrapper {
  width: 100%;
  height: 100%;
  min-height: 600px;
}

/* 登录模块 */
.login-wrapper {
  background-color: #252e37;
  color: #fff;
  display: none;
  position: relative;
}

.login-inner {
  height: 437px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -600px;
  margin-top: -218px;
  display: flex;
  box-sizing: border-box;
  padding: 0 90px 0 40px;
  justify-content: space-between;
}

.login-logo {
  width: 440px;
  height: 321px;
  margin-top: 73px;
}

.login-main {
  width: 323px;
  height: 241px;
  padding: 0 32px;
  background-color: #313b48;
  margin-top: 113px;
  border-radius: 9px;
  box-sizing: border-box;
}

.password-input-wrapper {
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;
}

.password-input-wrapper .password-tip {
  position: absolute;
  padding-top: 5px;
  top: 100%;
  left: 0;
  font-size: 12px;
  color: #f56c6c;
  display: none;
}

.forgot-password-wrapper {
  margin-top: 14px;
  text-align: right;
  position: relative;
}

.forgot-password-wrapper .forgot-password-btn {
  height: 17px;
  line-height: 17px;
  color: #fff;
}

.forgot-password-tips {
  text-align: left;
  width: 348px;
  padding: 14px 20px;
  background-color: #fff;
  color: #606266;
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  top: 31px;
  right: 7px;
  white-space: nowrap;
  line-height: 20px;
  display: none;
}

.forgot-password-tips span {
  color: var(--default-color);
}

.forgot-password-tips::before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-width: 7px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  right: 28px;
  top: -13px;
  display: none;
}

/* 主体内容 */
.content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.nav-menu-wrapper {
  width: 160px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #001529;
}

.nav-menu-logo {
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu-logo .logo-wrapper {
  height: 56px;
  width: 56px;
  line-height: 56px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: var(--default-color);
}

.content-main-wrapper {
  flex: 1;
}

.content-main-wrapper {
  display: flex;
  flex-direction: column;
}

.main-header-wrapper {
  height: 48px;
  padding: 0 50px;
  border-bottom: 1px solid #dfe4ed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right-wrapper span {
  margin-left: 14px;
  padding: 5px;
  cursor: pointer;
}

.header-right-wrapper span i {
  font-size: 18px;
  transition: all 0.2s;
}

.header-right-wrapper span:hover i {
  color: var(--default-color);
}

.main-content-wrapper {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  /* margin-bottom: 20px; */
}

/* 主体布局 end */

/* 主体模块 */
.module-item-wrapper {
  display: none;
  padding: 20px 50px;
  box-sizing: border-box;
  background-color: #fff;
}

.module-item-wrapper.active {
  display: block;
}

/* 设备状态 首页*/
.home-module-item-wrapper {
  background-color: #f5f7fa;
  padding: 20px 27px;
  min-height: 100%;
}

.home-item-inner--wrapper {
  background-color: #fff;
  /* padding: 0 24px; */
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.home-item-inner--title {
  height: 65px;
  line-height: 65px;
  border-bottom: 1px solid #dfe4ed;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.title-left span {
  color: var(--default-color);
  margin-left: 10px;
}

.title-right span {
  color: #606266;
}

.title-right span i {
  color: #000;
}

.title-right span + span {
  margin-left: 30px;
}

.home-item-info--main {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0 30px 0;
}

.home-item-inner--main-item {
  width: 33%;
  height: 18px;
  line-height: 18px;
  margin-top: 18px;
  color: rgba(0, 0, 0, 0.85);
}

.home-item-inner--main-item > span {
  color: #606266;
}

.home-item-inner--main-item span > i {
  color: var(--default-color);
}

.big-item-inner--wrapper {
  margin-top: 0;
  padding: 0 24px;
}

.small-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.small-item-blank {
  width: 20px;
  background-color: #f5f7fa;
}

.small-item-inner--wrapper {
  width: 50%;
  box-sizing: border-box;
  background-color: #f5f7fa;
}

.small-item-inner--wrapper:nth-child(odd) {
  padding-right: 10px;
}

.small-item-inner--wrapper:nth-child(even) {
  padding-left: 10px;
}

.item-inner-main {
  background-color: #fff;
  padding: 0 24px;
}

.device-state-wrapper {
  display: flex;
}

.device-state-item {
  display: flex;
  height: 318px;
  justify-content: center;
  align-items: center;
}

.device-state-item .device-state-item-img {
  height: 230px;
  width: 230px;
  position: relative;
}

.device-state-item .device-state-item-img.network-state-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.device-state-item-img .device-state-item-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.device-state-item-wrapper span {
  white-space: nowrap;
}

.device-state-item-wrapper span:first-child {
  color: rgba(0, 0, 0, 0.45);
}

.device-state-item-wrapper span:last-child {
  color: rgba(0, 0, 0, 0.85);
  font-size: 24px;
  margin-top: 17px;
}

.network-item {
  width: 260px;
  min-width: 260px;
  height: 195px;
  padding-bottom: 58px;
  background-image: url(../images/network.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* border: 1px solid red; */
  position: relative;
}

.device-state-item .device-state-item-img.network-state-wrapper {
  width: 100%;
  min-width: 530px;
}

.network-item .notwork-pointer {
  width: 12px;
  height: 66px;
  position: absolute;
  left: 124px;
  top: 70px;
  transform: rotate(-120deg);
  transform-origin: center 60px;
  /* transition: all 0.2s; */
}

.network-item .notwork-speed,
.network-item .notwork-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.network-item .notwork-speed {
  font-size: 24px;
  color: #30bf78;
  bottom: 40px;
}

.network-item .notwork-title {
  color: rgba(0, 0, 0, 0.45);
  bottom: 10px;
}

.usb-state-wrapper {
  height: 100%;
  height: 230px;
  border-radius: 50%;
  border: 2px solid #5b8ff9;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.usb-canvas {
  height: 230px;
  width: 230px;
  border: 1px solid red;
}

.usb-state-inner {
  position: absolute;
  height: 230px;
  width: 100%;
  border-radius: 50%;
  background-repeat: repeat no-repeat;
  background-size: 221px 120px;
  background-position: 0px 140px;
}

.usb-state-inner.item1 {
  background-image: url(../images/ripple1.png);
  animation: waves 3s linear infinite;
}

.usb-state-inner.item2 {
  background-image: url(../images/ripple2.png);
  animation: waves 4s linear infinite;
}

.usb-state-inner.item3 {
  background-image: url(../images/ripple3.png);
  animation: waves 5s linear infinite;
}

@keyframes waves {
  0% {
    background-position: 0 160px;
  }

  100% {
    background-position: 221px 160px;
  }
}

/* LAN口设置 */
.setting-lan-from p {
  height: 42px;
  display: flex;
  align-items: center;
}

.lan-dhcp-item-option-inner {
  display: flex;
  height: 42px;
  align-items: center;
}

.lan-dhcp-item-option-inner .label-item {
  margin: 0;
}

.lan-dhcp-item-option .dhcp-item {
  width: 150px;
}

.lan-dhcp-set-wrapper .lan-dhcp-item-option {
  display: none;
}

.lan-dhcp-set-wrapper .lan-dhcp-item-option.active {
  display: block;
}

.lan-dhcp-line {
  padding: 0 10px;
}

.lan-dhcp-item-option-inner .label-item-tip {
  left: 0;
}

/* 修改密码 */
.label-new-password {
  position: relative;
}

.label-popur-wrapper {
  position: absolute;
  left: 345px;
  white-space: nowrap;
  top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.label-popur-icon {
  font-size: 14px;
  padding: 10px;
  color: #c0c4cc;
  cursor: pointer;
}

.label-popur-main {
  padding: 14px 20px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 4px;
}

.label-popur-main-title {
  font-size: 16px;
  color: #303133;
  height: 22px;
  line-height: 22px;
}

.label-popur-main-context {
  color: #606266;
  height: 20px;
  line-height: 20px;
  margin-top: 6px;
}

/* 路由器管理 => 软件升级 */
.progress-bar-wrapper {
  margin-top: 10px;
  height: 10px;
  margin-left: 35px;
}

.update-paragraph {
  color: #606266;
}

.update-paragraph span {
  color: var(--default-color);
}

.display-file-label {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.display-file-name {
  width: 212px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 38px;
  line-height: 38px;
  width: 240px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  margin-right: 10px;
  padding: 0 14px;
  color: #c0c4cc;
}

.display-file-name.active {
  color: var(--default-color);
}

.display-file-look {
  color: var(--default-color) !important;
  border-color: #cee0ff !important;
}

.label-item-tip {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 12px;
  padding-top: 4px;
  color: #f56c6c;
  display: none;
}

.upgrade-progress-wrapper {
  width: 140px;
}

.upgrade-popup-warpper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  display: none;
}

.upgrade-popup-inner {
  position: absolute;
  width: 600px;
  padding: 20px;
  background-color: #fff;
  left: 50%;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%);
}

.upgrade-popup-inner p {
  text-align: center;
  color: #606266;
  line-height: 22px;
}

.upgrade-popup-progress-wrapper {
  height: 10px;
}

/* 关于我们 */
.about-main-wrapper {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-main-wrapper .img {
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  background-color: var(--default-color);
  border-radius: 6px;
  font-size: 40px;
  color: #fff;
}

.about-main-wrapper .about-subtitle {
  font-size: 20px;
  height: 28px;
  line-height: 28px;
  margin-top: 30px;
}

.about-main-wrapper .about-copyright {
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  color: #909399;
  margin-top: 6px;
}
