/* NavMenu start */
.menu-bar-body {
  width: 160px;
  cursor: pointer;
  font-size: 14px;
}

.menu-item-title,
.menu-submenu-title {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 20px;
  color: #fff;
  justify-content: space-between;
  background-color: rgb(84, 92, 100);
}

.menu-item-title:hover,
.menu-submenu-title:hover {
  background-color: rgb(67, 74, 80);
}

.menu-item-title.checked {
  color: var(--default-color);
}

.menu-submenu-title.open .icon-arrow {
  transform: rotate(180deg);
}

.menu-submenu-body {
  display: none;
}

/* NavMenu end */

/* 主体布局 start */
.content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.nav-menu-wrapper {
  /* width: 180px; */
  border-right: 1px solid red;
  overflow-x: hidden;
  overflow-y: auto;
}

.content-main-wrapper {
  flex: 1;
}

.content-main-wrapper {
  display: flex;
  flex-direction: column;
}

.main-header-wrapper {
  height: 60px;
  border-bottom: 1px solid lightskyblue;
}

.main-content-wrapper {
  flex: 1;
  padding-left: 50px;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* 主体布局 end */

/* 主体模块 */
.module-item-wrapper {
  display: none;
}
.module-item-wrapper:first-child {
  display: block;
}
