/* 主体模块 */
/* .content-wrap {
} */

.control-btns-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.control-btns-wrapper > div {
  display: flex;
}

.control-btns-wrapper .btn {
  height: 30px;
  line-height: 30px;
  background-color: #eee;
  padding: 0 8px;
  margin: 0;
}

.control-btns-wrapper .btn.active {
  background-color: red;
}

.control-main-wrapper .content-wrapper {
  display: none;
  border: 1px solid red;
}

.control-main-wrapper .content-wrapper:first-child {
  display: block;
}

/* 云盘操作 */

/* 路由设置 */
.view-content-inner {
  display: flex;
}

.view-content-inner .control-list {
  width: 120px;
}

.control-list .control-btn {
  display: block;
  height: 30px;
  line-height: 30px;
  background-color: pink;
}

.control-list .control-btn.active {
  background-color: red;
}

.view-content-inner .control-content {
  flex: 1;
}

.control-content .content-item {
  display: none;
}

.control-content .content-item:first-child {
  display: block;
}

/* 设置导向 */
.connect-type-item {
  display: none;
}

.connect-type-item.active {
  display: block;
}

.label-item {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #777;
  width: 400px;
  overflow: hidden;
  font-size: 13px;
  margin-top: 10px;
}

.label-item > span {
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 80px;
  border-right: 1px solid #777;
  margin-right: 10px;
}

.label-item > input {
  height: 30px;
  flex: 1;
}

/* lan口设置 */
.dhcp-options-wrapper {
  display: none;
}
